.odrec {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bordered {
    background-color:rgb(161, 224, 178);
    padding: 30px;
    display: block;
}

.loose{
    list-style-type: none;
}

.btn{
    font-size: 15px;
    background-color: rgb(238, 103, 103);
    display: inline-block;
    padding: 10px 10px 10px 10px;
    color: white;
    transition-property: all;
    transition-duration: .3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    margin: 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(161, 224, 178);
    color: black;
}

.section{
    background-color: rgb(238, 103, 103);
}

h6{
    font-weight: 100px;
    color: lightslategray;
}

.left{
    text-align: left;
}